{{ define "title"}} {{ .Title }} {{ end }} 

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css"> 
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css"> 
{{ end }} 

{{ define "header"}} {{ partial "menu" .}} {{ end }} 

{{ define "main"}}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <br>
    <br> 
    <section class="hero is-info is bold is-medium">
        <div class="hero-body" style="padding-bottom:3rem; padding-top:3rem;">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">


                        <h1 class="title is-2" itemprop="headline">
                            {{.Title}}
                        </h1>
                        {{ if .Description }}
                        <h3 itemprop="description" class="subtitle is-4">
                            {{ .Description }}
                        </h3>
                        {{ end }}
                    </div>
                    <div class="column is-6">
                        {{ if .Params.content_img_path }}
                        <figure class="image is-16by9">
                            <img src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
                        </figure>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section blog">
    <div class="container">
        <p>{{ partial "post/meta" . }}</p>
        <div class="columns is-mobile">
            <div class="column">
                <div class="content blog-post section" itemprop="articleBody">
                    {{ partial "toc" .}}
                    <hr> 
                    {{.Content}}
                </div>
                <footer class="footer">
                    <div class="content has-text-centered">
                        {{ partial "post/byauthor" . }} 
                        {{ partial "post/related-content" . }}
                    </div>
                </footer>
                {{ if .Site.DisqusShortname }}
                <article>
                    {{ partial "disqus.html" . }}
                </article>
                {{ end }}

            </div>
        </div>

    </div>
</section>
</div>

{{ end }} 

{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
