<div id="formBlock">
    <form id="sib-form" method="POST" class="subscribe" action="#">
        <input type="text" name="email_address_check" value="" class="input--hidden" style="display:none">
        <input type="hidden" name="locale" value="en">
        <input type="hidden" name="html_type" value="simple">
        <div class="field is-grouped has-addons-centered">
            <div class="control is-expanded">
                <input class="input is-large" type="email" id="EMAIL" name="EMAIL" autocomplete="off" maxlength="200" placeholder="Get six lessons by email: you@mail.com" data-required="true" required />
            </div>
            <div class="control">
                <button class="button is-large is-danger" form="sib-form" type="submit">
                  Sign Up
                </button>
            </div>
        </div>
    </form>
</div>
<div class="content" style="margin-top:10px">
    <h3 class="has-text-white" id="learn-how" style="display:block">Learn how in six easy lessons. Success guaranteed.</h3>
    <h3 class="has-text-white has-text-weight-bold" id="thank-you" style="display:none"><span class="has-text-danger">Signed up!</span> Check your inbox for your first lesson.</h3>
</div>
