<footer class="footer has-text-white has-text-weight-semibold" style="background-color:black;">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns">
                <div class="column">
                    <div class="title is-6 has-text-white">Platform</div>
                </div>
                <div class="column">
                    <div class="title is-6 has-text-white">Company</div>
                    <p class="is-size-7">
                        <a class="has-text-white" href="posts/history-of-yax/">About Yax</a>
                    </p>
                </div>
                <div class="column">
                    <div class="title is-6 has-text-white">Support</div>
                    <p class="is-size-7">
                        <a href="#" class="has-text-white" onclick="$crisp.push(['do','chat:open'])">Click for live chat</a>
                        <br>
                        or email: <a class="has-text-white" href="mailto:support@yax.com">support@yax.com</a>
                    </p>
                </div>
                <div class="column">
                    <div class="title is-6 has-text-white">Yax</div>
                    <p class="is-size-7 has-text-left">
                        Build a website for free with Yax.com, the do-it-yourself alternative to Wix and Squarespace. Own the code you create and take it anywhere, without vendor lock-in. Host it for free with a custom domain.
                    </p>
                    <p class="is-size-7 has-text-left-desktop">
                        Our tutorials help you create a high-quality free website.
                        <br> © 2020 Yax.com
                    </p>
                    
                    <div>
                      {{ if .Site.Params.github}}
                      <a class="has-text-white" target="blank" href="https://github.com/{{.Site.Params.github}}">
                        <span class="icon">
                          <i class="fa fa-github"></i>
                        </span>
                      </a>
                      {{end}}

                      {{ if .Site.Params.twitter}}
                      <a class="has-text-white" target="blank" href="https://twitter.com/{{.Site.Params.twitter}}">
                        <span class="icon">
                          <i class="fa fa-twitter"></i>
                        </span>
                      </a>
                      {{end}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
