{{ define "title"}} {{ .Site.Title}} {{end}} {{ define "header"}} {{ partial "menu" .}} {{end}} {{ define "main" }}

<div class="hero is-fullheight">
    <div class="container">
        <div class="columns is-vcentered">
            <!-- Error Wrapper -->
            <div class="column error-wrap error-centered has-text-centered">
                <h1 class="is-size-1">404</h1>
                <br>

                <div class="columns is-mobile is-centered">
                    <figure class="image" style="width:360px;">
                        <img src="images/home-hero.jpg" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h2>The page is not available.</h2>
                    <p>Yax.com is growing quickly. Maybe we haven't built that page yet.</p>
                    <p>Let us know what you are looking for.</p>
                    <div class="button-wrap">
                        <a href="#" class="button is-info is-large is-rounded" onclick="$crisp.push(['do','chat:open'])">Click for live chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }} {{ define "footer" }} {{ partial "footer" .}} {{ end }}
