{{ define "title"}} {{ .Site.Title}} {{end}} {{ define "header"}} {{ partial "menu" .}} {{end}} {{ define "main" }}

<section class="hero is-fullheight is-dark">


    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5">
                    <figure class="image is-4by3">
                        <img class="lazyload" src="/images/home-hero.jpg" alt="Description">
                    </figure>
                </div>
                <div class="column is-7 is-multiline">
                    <h1 class="title is-four-fifths">
                        {{ .Site.Title }}
                    </h1>
                    <h2 class="subtitle is-three-fifths">
                        {{ .Site.Params.description}}
                    </h2>
                    <br>
                    <div class="column  is-offset-1">
                        {{ partial "email-form" . }}
                        <div class="content" style="margin-top:10px">
                            <h3 class="has-text-white" id="learn-how" style="display:block">Learn how in six easy lessons. Success guaranteed.</h3>
                            <h3 class="has-text-white has-text-weight-bold" id="thank-you" style="display:none"><span class="has-text-danger">Signed up!</span> Check your inbox for your first lesson.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {{ end }} {{ define "footer" }} {{ partial "footer" .}} {{ end }}
